nav{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    li{
        display: inline;
        padding: 0.1rem;
        text-decoration: none;
    }

    a{
        display: block;
        color: $base-link-color;
        text-align: center;
        text-decoration: none;
    }

    a:hover{
        color: $base-link-hover;
        text-decoration: none;
    }
}

.dropdown{
    visibility: visible;
}

.dropdown-menu{
    display: none;
}